<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <style>
        * {
            text-decoration: none;
            color: beige;
            margin: 40px;

        }

        body {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #14242d;
            color: beige;
            font-family: 'Manrope', sans-serif;
        }

        .btn {
            background-color: aqua;
            box-shadow: 0px 0px 5px 5px rgba(0, 255, 255, 0.5);
            color: black;
            margin-top: 20px;
            border-radius: 100px;
            padding: 17px;
            font-size: 30px;
            height: auto;
            width: auto;
            outline: none;

        }

        .btn:hover {
            transition: .7s;
            box-shadow: none;
        }

        .inputName {
            background-color: rgb(23, 33, 52);
            padding: 5px;
            color: beige;
            box-shadow: 0px 0px 5px 5px rgba(0, 255, 255, 0.7);
            margin: 50px;
            height: 50px;
            width: 840px;
            font-size: 30px;

        }

        .howto {
            font-size: 10px;
        }

        .hh {
            font-size: 50px;
        }

        ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #4f4f4f;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #000000;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #dadada;
        }
    </style>
</head>

<body>
    <h1 class="hh">Short URL Generator</h1>

</body>

</html>